img { /* Ejercicio 7 */
    width: 150px;
    height: 200px;
}
.oscuro {
    background-color: rgb(78, 75, 75);
    color: white;
}
#cuadrado {
    max-width: 100px;
    min-height: 100px;
    border: 1px solid;
    background-color: aquamarine;
}

/* Ejercicio 10 (12.) */
.mover {
    transform: translateX(1000%);
    transition: transform 2s ease;
}

#td-nombre {
    min-width: 300px;
}
#accion {
    min-width: 160px;
}
td:nth-child(1) {
    padding-left: 10px;
}
td:nth-child(2), td:nth-child(3) {
    min-width: 70px;
    text-align: center;
}
